

body{
    background-color: dodgerblue;
    color: white;
    margin-top: 20px;
}

body section{
    text-align: center;
}

body div{
    margin-top: 30px;
    padding: 10px;
}

#textInput{
    background-color: rgb(220, 228, 230);
    width: 75%;
    height: 200px;
    border-radius: 4px;
    color: lightsalmon;
    padding: 10px;
    max-width: 235px;
}

#countButton{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 5px; 
    max-width: 110px;
}



@media screen and (min-width: 768px) {
    body div {
        margin-top: 30px;
        padding: 5px 15% 0 15%;
    }


   body section{
       width: 1000px;
       margin: auto;
   }

    #textInput{
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto; 
    }

}